<%= form_with(model: chat_room, local: true) do |form| %>
  <% if chat_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chat_room.errors.count, "error") %> prohibited this chat_room from being saved:</h2>

      <ul>
        <% chat_room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label 'Add a new chat room' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <%= form.submit "Add", class: 'btn btn-outline-primary btn-block' %>
<% end %>
