<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      hello <%= current_user.email %>
      <%= render 'form',chat_room: ChatRoom.new %>
      <hr>
      <% @chat_rooms.each do |chat_room| %>
        <%= link_to chat_room do %>
          <div class="card mb-2">
            <div class="card-body">
              <%= chat_room.id %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-9">
      <% if @chat_room.present? %>
        <div class="chat-room">
          <div class="navbar navbar-light bg-light mb-4">
            <span class="navbar-brand"><%= @chat_room.id %></span>
            <ul class="navbar-nav">
              <li class="nav-item">
                Hello, <%= current_user.email %>
              </li>
            </ul>
          </div>
          <% @chat_room.messages.each do |message| %>
            <div class="message mb-2<%= ' me' if message.user == current_user %>">
              <div class="content-container">
                <div class="content">
                  <%= message.content %>
                </div>
                <div class="author">
                  <%= message.user.email %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="chat-box">
            <%= render 'messages/form', message: Message.new, chat_room: @chat_room %>
          </div>
        </div>
        
      <% end %>
    </div>

  </div>
</div>