<div class="jumbotron">
  <h1 class="display-6"><%= @friend.last_name %> <%= @friend.first_name %> </h1>
  <% if @friend_been_registered %>
    <% if @already_chat_initialized %>
      <%= link_to 'Chat with friend', private_chat_friend_path(@friend), class:"btn btn-secondary" %>
    <% else %>
      <%= link_to 'Chat with friend', initialize_chat_friend_path(@friend), class:"btn btn-secondary", method: :post %>
    <% end %>
  <% end %>
  <%= link_to 'Back', friends_path, class:"btn btn-secondary" %>
</div>

<div id="room-id" data-room-id='1'>

</div>